# Data Ingestion & Extraction
requests
beautifulsoup4
pdfplumber
pytesseract
pandas

# Storage
sqlalchemy
psycopg2-binary
python-dotenv

# Presentation & Visualization
flask
dash

# Utils & Development
pytest
ruff
pre-commit
